.details {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 48px;
    }
  }

  &__button-container {
    margin: auto;
    justify-content: center;
    margin-top: 40px;

    @include on-tablet {
      width: 400px;
    }

    @include on-desktop {
      width: 324px;
    }

    &__link {
      text-decoration: none;
    }
  }
}
