.footer {
  width: 100%;
  height: 200px;

  background-image: url('../images/footer_phone.png');

  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
  background-attachment: fixed;

  z-index: 1;

  @include on-tablet {
    background-image: url('../images/footer_tablet.png');

    height: 480px;
  }

  @media (min-width: 1200px) {
    background-image: url('../images/footer_desktop.png');

    height: 555px;
  }
}
