.form {
  width: 100%;
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 1 / 3;
  }

  @include on-tablet {
    grid-column: 1 / 6;
  }

  &__input {
    box-sizing: border-box;

    width: 100%;
    border-radius: 40px;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    border: none;
    outline: none;
    padding: 14px 0 14px 16px;
    margin-bottom: 16px;
    color: $input-text-color;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 1000px $main-white-color inset !important;

      -webkit-text-fill-color: $main-text-color !important;

      border-radius: 40px;
    }
  }

  &__textarea {
    box-sizing: border-box;

    width: 100%;

    border-radius: 16px;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    border: none;
    outline: none;
    padding: 14px 0 14px 16px;
    resize: none;
    margin-bottom: 32px;
    color: $input-text-color;
  }
}
