.section__text {
  margin: 0;

  font-size: 23px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  color: $main-white-color;

  @include on-tablet {
    grid-column: 4 / -1;
    margin: 0;
  }

  @include on-desktop {
    grid-column: 7 / -1;
    margin: 0;
  }
}
